* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #121212;
  color: white;
  height: 100vh;
}

.app {
  display: flex;
  height: calc(100vh - 90px);
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #000;
  padding: 20px;
  overflow-y: auto;
}

.sidebar h2 {
  margin-bottom: 15px;
  color: #1db954;
}

#playlist {
  list-style: none;
}

#playlist li {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#playlist li:hover,
#playlist li.active {
  background: #1db954;
  color: black;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#song-title {
  font-size: 26px;
  text-align: center;
}

/* Bottom Player */
.player-bar {
  height: 90px;
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.player-bar button {
  font-size: 22px;
  padding: 12px 16px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.player-bar button:hover {
  background: #1db954;
  color: black;
}

/* Mobile */
@media (max-width: 768px) {
  .sidebar {
    width: 100px;
  }

  #song-title {
    font-size: 20px;
  }
}
